body {
    background: #eee;
    padding: 0 25px;
    font-family: arial, sans-serif;
}
.topbar {
	background: rgb(74, 134, 232); 
	height:46px;
	position: fixed;
	float: left;
	top:0;
	right:0;
	left:0;
	z-index:1000;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

.roomSelection {
	float: right;
}

.main {
    width: 800px;
		float: left;
    margin: 50px 0 0 20px; /* top right bottom left */
    background: #999;
    padding: 0;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

div .chatContainer {
	float: left;
	width: 350px;
  min-height: 450px;
	
}

div #friends {
  float: left;
	width: 200px;
  background: #666;
  border: 1px solid white;
  min-height: 450px;
  color: white;
}

.main ul {
    padding-left: 20px;
}
.main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

.main .success {
    margin-top: 25px;
}

.main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}
